<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>社区管理</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index2.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<img class="bg img-responsive" src="../static/img/149.jpg">
<img class="img img-responsive" src="../static/img/a4.png" />
<div class="container">
    <div class="row ">
        <div class="col-md-2 text-center">
            <a th:href="@{/community/addmijie}">
                <span class="glyphicon glyphicon-education"></span>
                <p>添加密接人员</p>
            </a>
        </div>
        <div class="col-md-2 text-center">
            <a th:href="@{/community/mijieList}">
                <span class="glyphicon glyphicon-book"></span>
                <p>密接人员管理</p>
            </a>
        </div>
        <div class="col-md-2 text-center">
            <a href="/JX/show_jyhz">
                <span class="glyphicon glyphicon-book"></span>
                <p>查看已确诊人员</p>
            </a>
        </div>

     

    </div>
</div>
</body>
</html>

