<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>密切接触人员录入</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrapValidator.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/js/content.min.js?v=1.0.0"></script>
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/plugins/validate/messages_zh.min.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/demo/form-validate-demo.min.js"></script>
    <script charset="UTF-8" src="http://tajs.qq.com/stats?sId=9051096" type="text/javascript"></script>
	<!-- 省市区三级联动 -->
    <script type="text/javascript" src="../../static/assets/js/addr_update.js"></script>
	
    <!-- Font Awesome -->
    <link href="../../static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../static/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" style="width: 1000px; margin: auto">
        <div class="ibox-title">
            <h5>密切接触人员录入</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal form-label-left" enctype="multipart/form-data"
                  method="post" onkeypress="return event.keyCode != 13;">
				   <!--<div class="item form-group">-->
                    <!--<label class="col-form-label col-md-3 col-sm-3 label-align" >本人证件号码 <span class="required">*</span> </label>-->
                    <!--<div class="col-md-6 col-sm-6">-->
                        <!--<input id="sfzmhm" class="form-control" name="sfzmhm" placeholder="" required="required"  >-->
                    <!--</div>-->
                   <!--</div>-->
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >本人证件号码<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="sfzmhm" class="form-control" name="sfzmhm" placeholder="" required="required"  >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >现住区域<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select" name="province" id="s_province">
                           <option></option>
                          </select>
                          <select class="select" name="city" id="s_city">
                           <option></option>
                          </select>
                          <select class="select" name="town" id="s_county">
                           <option></option>
                          </select>
   <script type="text/javascript">
     // 改装后的初始化省市区的方法
     initAddress();
     // 自定义一个可设置省市区方法示例,如果多个页面需要可封装成公共方法直接调用即可
     function set_addr(province,city,county) {
         var $province=document.getElementById('s_province');
             // 设置值并模拟人为select下拉框的改变事件
             $province.onchange($province.value=province);
         if(city){
            var $city=document.getElementById('s_city');
                $city.onchange($city.value=city);
         }
         if(county){
             var $town=document.getElementById('s_county');
                 $town.value=county; // 仅设置值即可,此处已不需要再模拟change改变事件了
         }
     }
     // set_addr('四川省');
     // set_addr('四川省','成都市');
      set_addr('山东省','泰安市','泰山区');
 </script>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >所属办事处<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select" name="ssbsc" id="ssbsc" >
                       <option>请选择</option>
                      </select>
                  </div>
                </div>
				 <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >人群分类<span class="required">*</span>
                    </label>
                <div class="col-md-6 col-sm-6">
                    <select class="select" name="rqfl" id="rqfl">
                        <option>请选择</option>
                    </select>
                </div>
                </div>

			   <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >姓名 <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="xingming" class="form-control" name="xingming" placeholder="" required="required"  >
                    </div>
              </div>
			    <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >联系电话 <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="lxdh" class="form-control" name="lxdh" placeholder="" required="required" type="number"  >
                    </div>
              </div>
			  
			    <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >现住详细地址 <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6">
                        <textarea name="xxdz" class="form-control" id="xxdz" placeholder="" required="required" width="300"></textarea>
                    </div>
              </div>
                <div class="item">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">2周内是否曾往武汉 <span class="">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" name="yq_sfcwwh" value="1">是</label>
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" name="yq_sfcwwh" value="0">否</label>
                    </div>
                </div>
				 <div class="item">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">2周内是否曾往其他省份 <span class="">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" name="yq_sfczqtsf" value="1">是</label>
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" name="yq_sfczqtsf" value="0">否</label>
                    </div>
                </div>
				 <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >其他省份注明 </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="yq_zhumingsf" class="form-control" name="yq_zhumingsf" placeholder="" required="required"  >
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" >所密接人证件号码 <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="mjren" class="form-control" name="mjren" placeholder="" required="required"  >
                    </div>
               </div>
			   <div class="item">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">是否密接发病 <span class="">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" name="yq_sfmjfb" value="1">是</label>
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" name="yq_sfmjfb" value="0">否</label>
                    </div>
                </div>
                <div class="form-group" style="text-align: center; margin-top: 10px" >
                    <div class="col-md-6 col-md-offset-2">
                        <button id="send" type="button" onclick="addMijie()" class="btn btn-success">提交</button>
                        <button type="button" class="btn btn-primary" onClick="javascript:history.back();">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    window.onload = SearchVehicleTag();//加载页面时自动执行方法
    function SearchVehicleTag() {
        $.ajax({
            url: "/community/selectRqfl",
            type: "get",
            dataType: "json",
            contentType: "application/json",
            traditional: true,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var jsonObj = data[i];
                    $("#rqfl").append("<option>" + jsonObj.ClassNName + "</option>");
                }
            },
            error: function (msg) {
                alert("数据加载出错，请重试！");
            }
        });
    }
    window.onload = SearchVehicleTag2();//加载页面时自动执行方法
    function SearchVehicleTag2() {
        $.ajax({
            url: "/community/selectSsbsc",
            type: "get",
            dataType: "json",
            contentType: "application/json",
            traditional: true,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var jsonObj = data[i];
                    $("#ssbsc").append("<option >" + jsonObj.OrganName + "</option>");
                }
            },
            error: function (msg) {
                alert("数据加载出错，请重试！");
            }
        });
    }
    function addMijie(){
        var sfzmhm = $('#sfzmhm').val();
        var xzsf = $('#s_province').val();
        var xzdjs = $('#s_city').val();
        var xzxq = $('#s_county').val();
        var ssbsc = $('#ssbsc').val();
        var rqfl = $('#rqfl').val();
        var xingming = $('#xingming').val();
        var lxdh = $('#lxdh').val();
        var xxdz = $('#xxdz').val();
        var yq_sfcwwh = $("input[name='yq_sfcwwh']:checked").val();
        var yq_sfczqtsf = $("input[name='yq_sfczqtsf']:checked").val();
        var yq_zhumingsf = $('#yq_zhumingsf').val();
        var mjren = $('#mjren').val();
        var yq_sfmjfb= $("input[name='yq_sfmjfb']:checked").val();
        if(sfzmhm.length==0||xzsf.length==0||xzdjs.length==0||xzxq.length==0||ssbsc.length==0||
            rqfl.length==0||xingming.length==0||lxdh.length==0||yq_sfcwwh==null||yq_sfczqtsf==null||mjren.length==0||yq_sfmjfb==null){
            if ( yq_sfcwwh==null||yq_sfczqtsf==null||yq_sfmjfb==null){
                confirm("选项必须选中");
            }
            else{
                confirm("必填项不能为空");
            }
        }
        else {
            $.ajax({
                type: 'post',
                data: {sfzmhm:sfzmhm,xzsf:xzsf,xzdjs:xzdjs,xzxq:xzxq,ssbsc:ssbsc,rqfl:rqfl,xingming:xingming,lxdh:lxdh,xxdz:xxdz,yq_sfcwwh:yq_sfcwwh,yq_sfczqtsf:yq_sfczqtsf,yq_zhumingsf:yq_zhumingsf,mjren:mjren,yq_sfmjfb:yq_sfmjfb},
                // data: {rqfl:rqfl},
                // url: '/community/ceshi',
                url: '/community/add',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    confirm("添加信息成功");
                    window.location.href = '/community/mijieList'
                },
                error: function (errorMsg) {
                    confirm("添加信息失败");
                }
            });
        }
    }
</script>
</body>
</html>
