<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>密接人员管理</title>
    <link href="favicon.ico" rel="shortcut icon"> <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/css/bootstrap-table.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <!--汉化文件，放在 bootstrap-table.js 后面-->
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <!-- NProgress -->
    <link href="../../static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../static/build/css/custom.min.css" rel="stylesheet">
    <style>
        .btn-success {
            background: #1c84c6;
        }
    </style>
    <!-- Custom Theme Scripts -->
    <script src="static/build/js/custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/nice-select.css">
    <script src="/static/assets/js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select:not(.ignore)').niceSelect();
            FastClick.attach(document.body);
        });
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 style="float: left;margin-bottom: 5px;">密接人员管理</h3>
                    <!--<div class="col-sm-1" style="margin-top: -2px">-->
                    <!--<button class="btn btn-white btn-sm" id="loading-example-btn" type="button" style="margin-bottom: 0px"><i class="fa fa-refresh"></i> <a href="/indexWater/show">刷新</a></button>-->
                    <!--</div>-->
                    <a th:href="@{/indexWater/indexWaterAdd}" style="float: right"><button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 0">添加密接人员</button></a>
                </div>
                <div class="ibox-content" style="padding-top: 1px">
                    <div class="row m-b-sm m-t-sm"style="margin-top: 5px">
                        <div class="col-sm-1">
                            <button class="btn btn-white btn-sm" id="loading-example-btn" type="button" ><i class="fa fa-refresh"></i> <a href="/indexWater/show">刷新</a></button>
                        </div>
                        <div class="col-md-11" style="margin-bottom: -13px">
                            <div class="input-group">
                                <div class="col-sm-3">
                                    <input class="input-sm-1 form-control" id="areaName1" placeholder="请输入区域名称" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <input class="input-sm-2 form-control" id="year1" placeholder="请输入年份 仅数字" onkeyup="value=value.replace(/[^\d]/g,'')" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <select id="select">
                                        <option value="" >是否公开</option>
                                        <option value="0">不可公开</option>
                                        <option value="1">可公开</option>
                                    </select>
                                </div>
                                <span class="col-sm-1"><button class="btn btn-sm btn-primary" onclick="check()"  type="button"> 搜索</button> </span>
                                <div>
                                    <!-- 修改数据模态框（Modal） -->
                                    <form  class="form-horizontal"id="test" method="get">
                                        <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade bs-example-modal-lg" id="updateModal" role="dialog" tabindex="-1">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="updateModalLabel">
                                                            修改区域用水指标信息
                                                        </h4>
                                                    </div>
                                                    <!--{# 模态框body #}-->
                                                    <div class="modal-body" style="height: 100%;">
                                                        <input type="hidden" id="id" name="id">
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="areaName">区域名称<span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="areaName" class="form-control"name="areaName" placeholder="" required="required" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="useDirection">用途</label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="useDirection" class="form-control" name="useDirection" placeholder="" required="" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="indexWater">用水指标 <span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="indexWater" class="form-control" name="indexWater" placeholder="" required="required" type="number"step="0.0001">
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align">状态 <span class="">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <label><input id="status1" required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" name="status" value="0">不可公开</label>
                                                                <label><input id="status2" required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" name="status" value="1">可公开</label>
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="year">年份 <span class="">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input type="number" id="year" name="year" required="required"  class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="baseYear">基准年</label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="baseYear" class="form-control" name="baseYear" placeholder=""  type="text">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-4 col-sm-offset-3">
                                                            </div>
                                                            <!--{#            模态框底部#}-->
                                                            <div class="modal-footer" style="text-align: center">
                                                                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                                                                <button class="btn btn-primary" onclick="updateIndexWater()" type="button">提交</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div  class="project-list">
                            <table class="table table-hover text-nowrap" id="mytab"></table>
                        </div>
                        <div class="col-sm-12">
                            <span class="col-sm-1" style="float: right"><button class="btn btn-sm btn-primary" type="button" ><a href="/indexWater/form" style="color: white" target="_self"> 信息录入</a></button></span>
                            <span class="col-sm-1" style="float: right"><button class="btn btn-sm btn-primary" id="js-export" type="button"> 下载</button> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-export').click(function(){
        var areaName = $('#areaName1').val();
        var year = $('#year1').val();
        var status = $('#select option:selected').val();
        window.location.href="/indexWater/download?areaName="+areaName+"&year="+year+"&status="+status;
    });
    $('#mytab').bootstrapTable({
        url: '/indexWater/showIndexWaterInfo',
        method: "GET",
        contentType: "application/x-www-form-urlencoded",
        dataType: "json",
        json: 'callback',
        queryParams: "",//传递参数
        toolbar: "#toolbar",//工具按钮用哪个容器
        sidePagination: "true",//分页方式，客户端分页服务端分页
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "riverId",
        //每页显示几条数据
        pageSize: "10",
        pagination: true, // 是否分页
        sortable: true, // 是否启用排序
        columns: [{
            checkbox: false,
            visible: false                 //是否显示复选框
        },
            {
                field: 'SerialNumber',
                title: '序号',
                width: 50,
                align: 'center',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },
            {field: 'xingming', title: '姓名', align: 'center', width: 120},
            {field: 'sfzmhm', title: '证件号码', align: 'center', width: 120},
            {field: 'lxdh', title: '联系电话', align: 'center', width: 100},
            {field: 'rqfl', title: '人群分类', align: 'center', width: 100},
            {field: 'xzqy', title: '现住区域', align: 'center', width: 100},
            {field: 'jgqu', title: '籍贯区域', align: 'center', width: 100},
            {field: 'smjrzjhm', title: '所密接人证件号码', align: 'center', width: 100},
            },
            {
                title: '操作',
                field: 'id',
                align: 'center',
                valign: 'middle',
                width:120,
                formatter: option
            }
        ]
    });
    function check() {//组合查询
        var areaName = $('#areaName1').val();
        var year = $('#year1').val();
        var status = $('#select option:selected').val();
        var opt = {
            url: "/indexWater/check", //重新请求的链接
            method:'GET',
            query: {areaName:areaName,year:year,status}//传到后台的参数
        };
        $("#mytab").bootstrapTable('refresh',opt);
    };
    function option(value, row, index) {
        var htm = '<button class="btn btn-sm btn-success" id="dupUser" onclick="upd(\''+row.id +'\',\''+row.areaName+'\',\''+row.useDirection+'\',\''+row.indexWater+'\',\''+row.year+'\',\''+row.baseYear+'\',\''+row.status+'\')">修改' +
            '</button>&nbsp;<button class="btn btn-sm btn-danger" id="del" onclick="del(\''+row.id+'\')">删除</button>'
        return htm;
    };
    function del(id) {
        var mymessage = confirm("确认删除吗？");
        if (mymessage == true) {
            $.ajax({
                type: 'GET',
                data:{id:id},
                url: '/indexWater/delete',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    confirm("删除成功");
                    var opt = {
                        url: "/indexWater/showIndexWaterInfo", //重新请求的链接
                        method:'GET'
                    };
                    $("#mytab").bootstrapTable('refresh',opt);
                },
                error: function (errorMsg) {
                    confirm("删除失败");
                }
            });
        }
    }
    // 模态框用水指标信息显示
    function upd(id,areaName,useDirection,indexWater,year,baseYear,status) {
        if (id != ("undefined")) $("#id").val(id);
        else
            $("#id").val("");
        if (areaName!= ("undefined")) $("#areaName").val(areaName);
        else
            $("#riverSystem").val("");
        if (useDirection!= ("undefined")) $("#useDirection").val(useDirection);
        else
            $("#riverSystem").val("");
        if (indexWater != ("undefined")) $("#indexWater").val(indexWater);
        else
            $("#indexWater").val("");
        if (baseYear != ("undefined")) $("#baseYear").val(baseYear);
        else
            $("#baseYear").val("");
        if (status!= ("undefined")) {
            if (status == 0) {
                $("#status1").prop("checked",true);
                $("#status2").prop("checked",false);
            }
            if (status == 1) {
                $("#status1").prop("checked",false);
                $("#status2").prop("checked",true);
            }
        }
        else
            $("#status").val("");
        if (year!= ("undefined")) $("#year").val(year);
        else
            $("#year").val("");
        //弹出修改模态框，非新增模态框
        $('#updateModal').modal('show')
    }
    //提交模态框修改信息
    function updateIndexWater() {
        var id = $('#id').val();
        var areaName = $('#areaName').val();
        var useDirection = $('#useDirection').val();
        var indexWater = $('#indexWater').val();
        var year = $('#year').val();
        var baseYear = $('#baseYear').val();
        var status = $("input[name='status']:checked").val();
        if (areaName.length==0||indexWater.length==0||status==null||year.length==0){
            if (status == null) {
                confirm("状态必须选中");
            }
            else {
                alert("必填项不能为空 ");}
        }
        else if(year<1990||year>9999){
            alert("年份只能填写1990-9999之间的年份！");
        }
        else
        {
            $.ajax({
                type: 'post',
                data: {id:id,areaName:areaName,useDirection:useDirection,indexWater:indexWater,year:year,baseYear:baseYear,status:status},
                url: '/indexWater/update',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    confirm("修改信息成功");
                    $('#updateModal').modal('hide');//模态框消失
                    var opt = {
                        url: "/indexWater/showIndexWaterInfo", //重新请求的链接
                        method:'GET'
                    };
                    $("#mytab").bootstrapTable('refresh',opt);
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    confirm("修改信息失败");
                    $('#updateModal').modal('hide');//模态框消失
                }
            });
        }
    }
</script>
<script src="/js/content.min.js?v=1.0.0"></script>
<script charset="UTF-8" src="http://tajs.qq.com/stats?sId=9051096" type="text/javascript"></script>
</body>
</html>
