<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>个人信息</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>

    <link href="/css/bootstrapValidator.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrapValidator.js"></script>
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <script src="/js/content.min.js?v=1.0.0"></script>
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/plugins/validate/messages_zh.min.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <script src="/js/demo/form-validate-demo.min.js"></script>
    <script charset="UTF-8" src="http://tajs.qq.com/stats?sId=9051096" type="text/javascript"></script>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <!-- Font Awesome -->
    <link href="../../static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../static/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../static/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" style="width: 1000px; margin: auto">
        <div class="ibox-title">
            <h5 style="float: left">个人信息</h5>
            <button id="ss" type="submit" class="btn btn-success" style="width: 10%;letter-spacing: 6px;float: right;margin-top: -10px;" onclick="tc('001')">修改密码</button>
        </div>

        <div>
            <!-- 修改数据模态框（Modal） -->
            <form action="/user/repersonalpwd" class="form-horizontal"id="test" method="get">
                <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade bs-example-modal-lg" id="updateModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="updateModalLabel">
                                    修改密码
                                </h4>
                            </div>
                            <!--{# 模态框body #}-->
                            <div class="modal-body" style="height: 100%;text-align: center;">
                                <input id="id1" name="id1" type="hidden">
                                <div class="form-group" style="display: none;">

                                    <label class="col-sm-2 control-label">用户名：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="number1" name="number1" type="text" >

                                    </div>
                                </div>
                                <div class="form-group">

                                    <label class="col-sm-2 control-label">请输入新密码：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="password" name="name1" type="password" >

                                    </div>

                                </div>
                                <br/><br/>
                                <div class="form-group">

                                    <label class="col-sm-2 control-label">确认密码：</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="repassword" name="faren1" type="password" >

                                    </div>

                                </div>
                                <br/><br/>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">
                                    </div>
                                    <!--{#            模态框底部#}-->
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                                        <button class="btn btn-primary" onclick="updatepwd()" type="button">提交</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="ibox-content" >
            <form class="form-horizontal form-label-left" enctype="multipart/form-data"
                  method="post" onkeypress="return event.keyCode != 13;" action="/user/savePersonal">
                <div class="form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="realname">姓名:
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="realname" class="form-control"name="realname" placeholder="" required="required" type="text" readonly="readonly" th:value="${user.realname}">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="number">账号:
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="number" class="form-control" name="number" placeholder="账号" required="required" readonly="readonly" type="number" th:value="${user.number}">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="position">职位:
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="position" class="form-control"  name="position" placeholder="职位" required="required" type="text" readonly="readonly" th:value="${user.position}">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="phone">联系方式:
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="phone" class="form-control" name="phone" placeholder="联系方式" required="required" type="text" readonly="readonly" th:value="${user.phone}">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="workspace">工作地点:
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input id="workspace" class="form-control" name="workspace" placeholder="工作地点" required="required" type="text" readonly="readonly" th:value="${user.workspace}">
                    </div>
                </div>


                <!--<div class="item">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="status">状态 <span class="">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" name="status" value="0">不可公开</label>
                        <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" name="status" value="1">可公开</label>
                    </div>
                </div>-->


                <div class="form-group" style="text-align: center; margin-top: 10px" >
                    <div >
                        <button id="" type="submit" class="btn btn-success" style="width: 10%;letter-spacing: 6px">修改</button>
                        <!--<a href="/tofindall"><button type="button" class="btn btn-primary">取消</button></a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    $("#send").click(function(){
        var val=$('input:radio[name="status"]:checked').val();
        if(val==null){
            alert("请选择状态!");
            return false;
        }
        else{
        }
    });
    // 触发模态框
    function tc(number) {

        if (number != ("undefined")) $("#number1").val(number);
        else
            $("#number1").val("");

        //弹出修改模态框，非新增模态框
        $('#updateModal').modal('show');

    }
    //修改密码
    function updatepwd() {
        var number = $("#number1").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        if (number.length==0||password.length==0 ||repassword.length==0){
            confirm("必填项不能为空");
        }else if(password != repassword){
            confirm("两次密码不一致");
        }else {
            $.ajax({
                type: 'post',
                data: {number:number,password:password},
                url: '/user/repwd',//请求数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {

                    confirm("修改密码成功");
                    $('#updateModal').modal('hide');//模态框消失
                    var opt = {
                        url: "/user/personalInfo", //重新请求的链接
                        method:'GET',


                    };
                    window.location.reload();
                    //$("#mytab").bootstrapTable('refresh',opt);

                },
                error: function (errorMsg) {

                    //请求失败时执行该函数
                    confirm("修改密码失败");
                    $('#updateModal').modal('hide');//模态框消失
                }
            });
        }
    }

</script>
<script src="/js/content.min.js?v=1.0.0"></script>
<script charset="UTF-8" src="http://tajs.qq.com/stats?sId=9051096" type="text/javascript"></script>
</body>
</html>
