<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>疑似病例管理信息</title>
    <link href="favicon.ico" rel="shortcut icon"> <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="/css/bootstrap-table.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <!--汉化文件，放在 bootstrap-table.js 后面-->
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/plugins/layer/laydate/laydate.js"></script>
    <!-- NProgress -->
    <link href="../../static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../static/build/css/custom.min.css" rel="stylesheet">
    <!-- Custom Theme Scripts -->
    <script src="../../static/build/js/custom.min.js"></script>

    <!-- 省市区三级联动 -->
    <script type="text/javascript" src="addr_update.js"></script>
    <script src="static/build/js/custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/nice-select.css">
    <style>
        .btn-success {
            background: #1c84c6;

        }
    </style>
    <script src="/static/assets/js/jquery.nice-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select:not(.ignore)').niceSelect();
            FastClick.attach(document.body);
        });
    </script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3 style="float: left;margin-bottom: 5px;">疑似病例管理</h3>
                    <!--<div class="col-sm-1" style="margin-top: -2px">-->
                    <!--<button class="btn btn-white btn-sm" id="loading-example-btn" type="button" style="margin-bottom: 0px"><i class="fa fa-refresh"></i> <a href="/river/show">刷新</a></button>-->
                    <!--</div>-->
                    <a th:href="@{/hospital/toAddYiSiInfo}" style="float: right"  ><button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 0">添加疑似人员信息</button></a>
                    <!--
                                        <a th:href="@{/river/riverAdd}" style="float: right" shiro:hasPermission="super" ><button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 0">添加</button></a>
                    -->
                </div>
                <div class="ibox-content" style="padding-top: 1px">
                    <div class="row m-b-sm m-t-sm"style="margin-top: 5px">
                        <div class="col-sm-1">
                            <button class="btn btn-white btn-sm" id="loading-example-btn" type="button" ><i class="fa fa-refresh"></i> <a th:href="@{/hospital/showYiSiList}">刷新</a></button>
                        </div>
                        <div class="col-md-11" style="margin-bottom: -13px">
                            <div class="input-group">
                                <div class="col-sm-3">
                                    <input class="input-sm-1 form-control" id="sfzmhm0" placeholder="请输入身份证号码" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <input class="input-sm-2 form-control" id="xingming0" placeholder="请输入姓名" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <input class="form-control layer-date" id="qrmjsj" name="qrmjsj" placeholder="请选择日期" style="width: 97px"   stype="text">
                                    <label class="laydate-icon inline demoicon" onclick="laydate({elem: '#qrmjsj'});"  style="width: 30px"></label>
                                </div>
                                <span class="col-sm-1"><button class="btn btn-sm btn-primary" onclick="check()"  type="button"> 搜索</button> </span>
                                <div>
                                    <!-- 修改数据模态框（Modal） -->
                                    <form  class="form-horizontal"id="test" method="get">
                                        <div aria-hidden="true" aria-labelledby="updateModalLabel" class="modal fade bs-example-modal-lg" id="xqModal" role="dialog" tabindex="-1">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                                            &times;
                                                        </button>
                                                        <h4 class="modal-title" id="updateModalLabel">
                                                            详情
                                                        </h4>
                                                    </div>
                                                    <!--{# 模态框body #}-->
                                                    <div class="modal-body" style="height: 100%;">
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >本人证件号码<span class="required">*</span> </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="sfzmhm" class="form-control" name="sfzmhm" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >现住区域<span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="xzqy" class="form-control" name="xzqy" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >所属办事处<span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="ssbsc" class="form-control" name="ssbsc" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >人群分类<span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="rqfl" class="form-control" name="rqfl" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >姓名 <span class="required">*</span> </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="xingming" class="form-control" name="xingming" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >联系电话 <span class="required">*</span> </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="lxdh" class="form-control" name="lxdh" placeholder="" required="required" type="number"  readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >现住详细地址 <span class="required">*</span> </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <textarea name="xxdz" class="form-control" id="xxdz" placeholder="" required="required" width="300" readonly="readonly"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align">2周内是否曾往武汉 <span class="">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" id="yq_sfcwwh2" name="yq_sfcwwh2" value="1" disabled="disabled">是</label>
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" id="yq_sfcwwh1" name="yq_sfcwwh1" value="0" disabled="disabled">否</label>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align">2周内是否曾往其他省份 <span class="">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" id="yq_sfczqtsf2" name="yq_sfczqtsf2" value="1" disabled="disabled">是</label>
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" id="yq_sfczqtsf1" name="yq_sfczqtsf1" value="0" disabled="disabled">否</label>
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >其他省份注明 </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="yq_zhumingsf" class="form-control" name="yq_zhumingsf" placeholder="" required="required"  readonly="readonly">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align" >所密接人证件号码 <span class="required">*</span> </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <input id="mjren" class="form-control" name="mjren" placeholder="" required="required" readonly="readonly" >
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <label class="col-form-label col-md-3 col-sm-3 label-align">是否密接发病 <span class="">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6">
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px;margin-left: 20px;" type="radio" id="yq_sfmjfb2" name="yq_sfmjfb2" value="1" disabled="disabled">是</label>
                                                                <label><input  required="required" style="font-size: 20px;margin-top: 10px; margin-left: 20px;"  type="radio" id="yq_sfmjfb1" name="yq_sfmjfb1" value="0" disabled="disabled">否</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" style="text-align: center; margin-top: 10px" >
                                                            <!--<div class="col-md-6 col-md-offset-2">-->
                                                            <!--{#            模态框底部#}-->
                                                            <div class="modal-footer" style="text-align: center">
                                                                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div  class="project-list">
                            <table class="table table-hover text-nowrap" id="mytab"></table>
                        </div>
                        <div class="col-sm-12">
                            <!--<span class="col-sm-1" style="float: right"><button class="btn btn-sm btn-primary" id="js-export" type="button"> 下载</button> </span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#js-export').click(function(){
        var riverSystem = $('#riverSystem1').val();
        var riverName = $('#riverName1').val();
        var year = $('#year1').val();
        var status = $('#select option:selected').val();
        window.location.href="/river/download?riverSystem="+riverSystem+"&riverName="+riverName+"&year="+year+"&status="+status;
    });
    $('#mytab').bootstrapTable({
        url: '/hospital/ysInfoList',
        method: "GET",
        contentType: "application/x-www-form-urlencoded",
        dataType: "json",
        json: 'callback',
        queryParams: "",//传递参数
        toolbar: "#toolbar",//工具按钮用哪个容器
        sidePagination: "true",//分页方式，客户端分页服务端分页
        striped: true, // 是否显示行间隔色
        //search : "true",
        uniqueId: "PersonId",
        //每页显示几条数据
        pageSize: "10",
        pagination: true, // 是否分页
        sortable: true, // 是否启用排序
        columns: [{
            checkbox: false,
            visible: false                 //是否显示复选框
        },
            {
                field: 'SerialNumber',
                title: '序号',
                width: 50,
                align: 'center',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },
            {field: 'ssbsc', title: '所属办事处', align: 'center', width: 90},
            {field: 'sfzmhm', title: '身份证号码', align: 'center', width: 90},
            {field: 'xingming', title: '姓名', align: 'center', width: 80},
            {field: 'lxdh', title: '联系电话', align: 'center', width: 80},
            {field: 'xxdz', title: '地址', align: 'center', width: 120},
            {field: 'yq_yszdrq', title: '日期', align: 'center', width: 50
                ,
                formatter: function (value, row, index) {
                    if (value == null) {
                        return "";
                    }
                    else return value.substring(0,11);
                }
            },
            {
                field: 'xxsf', title: '详情', align: 'center', width:80,formatter: option2
            },
            {
                title: '操作',
                field: 'xzxq',
                align: 'center',
                valign: 'middle',
                width:120,
                formatter: option
            },
            {
                title: '提交',
                align: 'center',
                valign: 'middle',
                width:90,
                formatter:  function (value, row, index) {
                    var htm = '<button class="btn btn-sm btn-danger"  onclick="submit(\''+row.sfzmhm+'\')">提交</button>'
                    return htm;
                }
            }
        ]
    });
    //组合查询
    function check() {
        var sfzmhm = $('#sfzmhm0').val();
        var xingming = $('#xingming0').val();
        var qrmjsj = $('#qrmjsj').val();
        var opt = {
            url: "/community/check", //重新请求的链接
            method:'GET',
            query: {sfzmhm:sfzmhm,xingming:xingming,qrmjsj:qrmjsj}//传到后台的参数
        };
        $("#mytab").bootstrapTable('refresh',opt);
    };
    function option(value, row, index) {
        var htm = '<button class="btn btn-sm btn-success" id="dupUser" onclick="updRiver(\''+row.id +'\',\''+row.riverSystem+'\',\''+row.riverName+'\',\''+row.start+'\',\''+row.end+'\',\''+row.length+'\',\''+row.riverArea+'\',\''+row.bottomWidth+'\',\''+row.paiLao+'\',\''+row.productionBridge+'\',\''+row.controlGate+'\',\''+row.culvert+'\',\''+row.status+'\',\''+row.year+'\')">修改' +
            '</button>&nbsp;<button class="btn btn-sm btn-danger" id="del" onclick="del(\''+row.sfzmhm+'\')">删除</button>'
        return htm;
    };
    function option2(value, row, index) {
        var htm = '<button class="btn btn-sm btn-success"  onclick="detail(\''+row.sfzmhm +'\',\''+row.xzsf+'\',\''+row.xzdjs+'\',\''+row.xzxq+'\',\''+row.ssbsc+'\',\''+row.rqfl+'\',\''+row.xingming+'\',\''+row.lxdh+'\',\''+row.xxdz+'\',\''+row.yq_sfcwwh+'\',\''+row.yq_sfczqtsf+'\',\''+row.yq_zhumingsf+'\',\''+row.mjren+'\',\''+row.yq_sfmjfb+'\')">详情' +
            '</button>'
        return htm;
    };
    function del(sfzmhm) {
        var mymessage = confirm("确认删除吗？");
        if (mymessage == true) {
            $.ajax({
                type: 'GET',
                data:{sfzmhm:sfzmhm},
                url: '/community/deleteMj',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (data) {
                    // confirm("删除成功");
                    alert(data.result);
                    $("#mytab").bootstrapTable('refresh');
                },
                error: function (errorMsg) {
                    confirm("服务器正忙，请稍后重试！");
                }
            });
        }
    };
    function submit(sfzmhm) {
        var mymessage = confirm("确认提交吗？");
        if (mymessage == true) {
            $.ajax({
                type: 'GET',
                data: {sfzmhm:sfzmhm},
                url: '/hospital/ysSubmit',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    confirm("提交成功");
                    $("#mytab").bootstrapTable('refresh');
                },
                error: function (errorMsg) {
                    confirm("服务器正忙，请稍后重试!");
                }
            });
        }
    }
    // 模态框获取信息
    function detail(sfzmhm,xzsf,xzdjs,xzxq,ssbsc,rqfl,xingming,lxdh,xxdz,yq_sfcwwh,yq_sfczqtsf,yq_zhumingsf, mjren,yq_sfmjfb) {
        var xzqy = xzsf+xzdjs+xzxq;
        $("#xzqy").val(xzqy);
        if (sfzmhm != ("undefined")) $("#sfzmhm").val(sfzmhm);
        else
            $("#sfzmhm").val("");
        // if (xzsf!= ("undefined")) $("#s_province").val(xzsf);
        // else
        //     $("#s_province").val("");
        // if (xzdjs != ("undefined")) $("#s_city").val(xzdjs);
        // else
        //     $("#s_city").val("");
        // if (xzxq != ("undefined")) $("#s_county").val(xzxq);
        // else
        //     $("#s_county").val("");
        if (ssbsc!= ("undefined")) $("#ssbsc").val(ssbsc);
        else
            $("#ssbsc").val("");
        if (rqfl!= ("undefined")) $("#rqfl").val(rqfl);
        else
            $("#rqfl").val("");
        if (xingming!= ("undefined")) $("#xingming").val(xingming);
        else
            $("#xingming").val("");
        if (lxdh!= ("undefined")) $("#lxdh").val(lxdh);
        else
            $("#lxdh").val("");
        if (xxdz!= ("undefined")) $("#xxdz").val(xxdz);
        else
            $("#xxdz").val("");
        if (yq_sfcwwh!= ("undefined")) {
            if (yq_sfcwwh == 0) {
                $("#yq_sfcwwh1").prop("checked",true);
                $("#yq_sfcwwh2").prop("checked",false);
            }
            if (yq_sfcwwh == 1) {
                $("#yq_sfcwwh1").prop("checked",false);
                $("#yq_sfcwwh2").prop("checked",true);
            }
        }
        else
            $("#yq_sfcwwh").val("");
        if (yq_sfczqtsf!= ("undefined")) {
            if (yq_sfczqtsf == 0) {
                $("#yq_sfczqtsf1").prop("checked",true);
                $("#yq_sfczqtsf2").prop("checked",false);
            }
            if (yq_sfczqtsf == 1) {
                $("#yq_sfczqtsf1").prop("checked",false);
                $("#yq_sfczqtsf2").prop("checked",true);
            }
        }
        else
            $("#yq_sfczqtsf").val("");
        if (yq_zhumingsf!= ("undefined")) $("#yq_zhumingsf").val(yq_zhumingsf);
        else
            $("yq_zhumingsf").val("");
        if (mjren!= ("undefined")) $("#mjren").val(mjren);
        else
            $("mjren").val("");
        if (yq_sfmjfb!= ("undefined")) {
            if (yq_sfmjfb == 0) {
                $("#yq_sfmjfb1").prop("checked",true);
                $("#yq_sfmjfb2").prop("checked",false);
            }
            if (yq_sfmjfb == 1) {
                $("#yq_sfmjfb1").prop("checked",false);
                $("#yq_sfmjfb2").prop("checked",true);
            }
        }
        else
            $("#yq_sfmjfb").val("");
        //弹出修改模态框，非新增模态框
        $('#xqModal').modal('show')
    }
    //提交模态框修改信息
    function updateRiver() {
        var id = $('#id').val();
        var riverSystem = $('#riverSystem').val();
        var riverName = $('#riverName').val();
        var start = $('#start').val();
        var end = $('#end').val();
        var length = $('#length').val();
        var riverArea = $('#riverArea').val();
        var bottomWidth = $('#bottomWidth').val();
        var paiLao = $('#paiLao').val();
        var productionBridge = $('#productionBridge').val();
        var controlGate = $('#controlGate').val();
        var culvert = $('#culvert').val();
        var status = $("input[name='status']:checked").val();
        var year = $('#year').val();
        if (riverSystem.length==0||riverName.length==0||start.length==0||end.length==0||length.length==0||riverArea.length==0||status==null||year.length==0){
            if (status == null) {
                confirm("状态必须选中")
            }
            else {
                alert("必填项不能为空 ");}
        }
        else
        {
            $.ajax({
                type: 'post',
                data: {id:id,riverSystem:riverSystem,riverName:riverName,start:start,end:end,length:length,riverArea:riverArea,bottomWidth:bottomWidth,paiLao:paiLao,productionBridge:productionBridge,controlGate:controlGate,culvert:culvert,status:status,year:year},
                url: '/river/riverUpdate',//请求年级数据的地址
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    confirm("修改信息成功");
                    $('#updateModal').modal('hide');//模态框消失
                    var opt = {
                        url: "/river/showRiverInfo", //重新请求的链接
                        method:'GET'
                    };
                    $("#mytab").bootstrapTable('refresh',opt);
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    confirm("修改信息失败");
                    $('#updateModal').modal('hide');//模态框消失
                }
            });
        }
    }
</script>
<script src="/js/content.min.js?v=1.0.0"></script>
<script charset="UTF-8" src="http://tajs.qq.com/stats?sId=9051096" type="text/javascript"></script>
</body>
</html>
